<h3>{{leyenda}}</h3>
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <button class="btn btn-primary" type="button" (click)="decrementar()">
      <i class="mdi mdi-minus"></i>
    </button>
  </div> 
  <input type="number" #txtProgress min="0" max="100" (ngModelChange)="onChanges($event)" class="form-control" name="porcentaje" [(ngModel)]="porcentaje" aria-label="Amount (to the nearest dollar)">
  <div class="input-group-append">
    <button class="btn btn-primary" type="button" (click)="incrementar()">
      <i class="mdi mdi-plus"></i>
    </button>
  </div>
</div>